In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ocorrencia_2010_2020.csv', sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True) # sep é p dizer como os códigos estão separados
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [3]:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [4]:
df.loc[3] # dados apenas da linha 3
df.loc[1:3] # dados da linha 1 até 3
df.loc[[10,40]] # mostrar apenas linha 10 e 40
df.loc[:,'ocorrencia_cidade'] # todos os dados de uma coluna

codigo_ocorrencia                         39527
codigo_ocorrencia2                        39527
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade            LUCAS DO RIO VERDE
ocorrencia_uf                                MT
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-04 00:00:00
ocorrencia_hora                        17:30:00
total_recomendacoes                           0
Name: 3, dtype: object

In [6]:
# procurar se a coluna ocorrencia tem valores unicos para cada linha
df.codigo_ocorrencia.is_unique

True

In [7]:
df.set_index('codigo_ocorrencia', inplace=True) # a coluna codigo_ocorrencia vai virar o 'codigo unico'/chave primaria; esse inplace=True vai garantir q isso é vdd, caso não tenha apenas nesse comando ele será chave primaria(vai virar indice)
#se quiser que volte pro valor inicial vc usa: df.reset_index(drop=True, inplace=True)
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [8]:
df.reset_index(drop=True, inplace=True)
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [ ]:
#trocar o valor de um elemento
df.loc[0,'ocorrencia_aerodromo']=''
df.head(2)

In [ ]:
df.loc[1]=20
df.head(2)

In [ ]:
df.loc[:,'total_recomendacoes'] = 10
df

In [ ]:
#fazendo backup de uma coluna
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf
df

In [ ]:
#todas as ocorrencias que forem UF SP, terão classificao como GRAVE
df.loc[df.ocorrencia_uf == 'SP',['ocorrencia_classificacao']] = 'GRAVE'
df